@charset "UTF-8";

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-LightItalic";
  font-display: swap;
  src: url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-MediumItalic";
  font-display: swap;
  src: url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*шрифт по умолчанию */

/*переменные*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  background: -o-linear-gradient(359.06deg, #FF4D4D 0%, #FF4D00 100%);
  background: linear-gradient(90.94deg, #FF4D4D 0%, #FF4D00 100%);
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 164px;
}

.header__container .row {
  margin: auto 0;
}

.header__logo {
  display: block;
}

.header__logo img {
  width: 250px;
  height: 104px;
}

.header__menu {
  margin: auto 0;
}

.menu__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}

.menu__link {
  white-space: nowrap;
}

.menu__link i {
  font-style: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 33px;
  height: 27px;
  background: url("../img/icons/icon-menu.png") right no-repeat;
  position: relative;
  margin-left: 10px;
  top: -7px;
}

.menu__count {
  display: inline-block;
  font-style: normal;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background-color: #fff;
  font-size: 13px;
  line-height: 26px;
  color: #FF0000;
  top: -22px;
  right: -23px;
  position: relative;
}

._container {
  max-width: 1280px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

input {
  border: 3px solid rgba(56, 56, 56, 0.6) !important;
  border-radius: 6px;
}

input:focus,
input:focus {
  border: 5px solid rgba(56, 56, 56, 0.6) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn {
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.orange-btn {
  border-radius: 6px;
  background: -o-linear-gradient(359.06deg, #FF4D4D 0%, #FF4D00 100%);
  background: linear-gradient(90.94deg, #FF4D4D 0%, #FF4D00 100%);
}

.orange-btn:hover,
.orange-btn:focus {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #FF4D4D;
  -webkit-box-shadow: 0px 6px 6px #FF4D4D;
          box-shadow: 0px 6px 6px #FF4D4D;
  color: #fff;
}

.orange-btn:active {
  -webkit-box-shadow: 0px 6px 6px #FF4D4D, inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 6px #FF4D4D, inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.big-btn {
  display: block;
  padding: 50px 0;
  width: 100%;
}

.transparent-btn {
  border: 2px solid #383838;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  background-color: inherit;
  color: #383838;
}

.transparent-btn:hover,
.transparent-btn:focus {
  border: 2px solid #FF4D4D;
}

.transparent-btn:active {
  color: #FF4D4D;
}

.selection__container {
  margin-top: 66px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  color: #383838;
  position: relative;
  margin-left: 20px;
}

.title::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 47px;
  top: 0;
  left: -20px;
  background-color: #FF4D4D;
}

.selection__title {
  margin-bottom: 40px;
}

.selection__form input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  min-width: 300px;
  height: 91px;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.selection__form input:focus {
  /*border: 3px solid #FF4D4D;*/
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.form-group label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  padding-left: 18px;
  color: black;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 25%;
  font-size: 16px;
  line-height: 40px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.some-form__line-required input[type="text"] {
  border-color: #f45a57;
}

.some-form__line-required .some-form__hint {
  opacity: 1;
  z-index: auto;
}

.form-control:focus ~ .form-label,
.form-control:not(:focus):valid ~ .form-label {
  top: 0px;
  font-size: 10px;
}

.form-group {
  position: relative;
}

.form-control {
  width: 100%;
  height: 40px;
  padding: 5px 15px;
}

.form-label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 0;
  line-height: 40px;
}

/*validated message*/

#datepicker-error {
  margin-top: 64px;
  color: #FF4D4D;
}

#city-error {
  margin-top: 64px;
  color: #FF4D4D;
}

#income-error {
  margin-top: 64px;
  color: #FF4D4D;
}

.required.form-control.error {
  border-color: #f45a57;
}

input.error + label.error + label {
  top: 0px;
  font-size: 10px;
  color: #FF4D4D;
}

/*===================================*/

.selection-btn {
  border-radius: 6px;
  padding: 32px;
}

.search__wrapper {
  padding: 0 60px;
}

.search__group {
  position: relative;
  border-radius: 6px;
  min-height: 60px;
}

.search__group .collapse {
  padding: 0 60px;
}

.search__entry-field {
  width: 100%;
  display: inline-block;
  padding-left: 50px;
}

.search__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  left: 10px;
  width: 27px;
  /* Ширина кнопки */
  height: 25px;
  /* Высота кнопки */
  border: none !important;
  /* Убираем рамку */
  background: url(../img/icons/icone-sercle.svg) no-repeat;
  opacity: 0.6;
  background-size: cover;
  /* Параметры фона */
  margin: auto 10px;
}

.search__link {
  font-size: 16px;
  line-height: 19px;
  color: #383838;
  position: relative;
}

.search__link:active,
.search__link:active .search__link:visited,
.search__link:hover {
  color: #383838 !important;
}

.search__link:before {
  content: "";
  position: absolute;
  background: url("../img/icons/rating/triangle.svg") right no-repeat;
  background-size: cover;
  width: 14px;
  height: 9px;
  top: 5px;
  right: -22px;
}

.rating__colum {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.rating__advertising {
  text-align: center;
  display: block;
  padding: 50px 0;
  width: 100%;
  background: -o-linear-gradient(359.06deg, #FF4D4D 0%, #FF4D00 100%);
  background: linear-gradient(90.94deg, #FF4D4D 0%, #FF4D00 100%);
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.rating__inner {
  margin-bottom: 40px;
  margin-top: 40px;
}

.rating__table {
  width: 100%;
}

.rating__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #ACACAC;
}

.rate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rating-box__item1 {
  font-size: 16px;
  line-height: 19px;
  color: #383838;
  position: relative;
  margin-left: 30px;
  margin-bottom: 4px;
}

.rating-box__item1::before {
  content: "";
  position: absolute;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: -30px;
}

.rating-box__item1_rate::before {
  content: "";
  background-image: url("../img/icons/rating/percent.png");
  width: 18px;
  height: 18px;
}

.rating-box__item1_rate::after {
  content: "";
  position: absolute;
  background-image: url("../img/icons/rating/cil_cash.png");
  width: 20px;
  height: 18px;
  top: 0;
  left: -61px;
}

.rating-box__item1_sum::before {
  content: "";
  background-image: url("../img/icons/rating/sum.png");
  width: 19px;
  height: 14px;
}

.rating-box__item2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 4px;
}

.rating-box__item2.icon {
  position: relative;
}

.rating-box__item2.icon::after {
  content: "";
  position: absolute;
  background-image: url("../img/icons/rating/bi_credit-card-2-back.png");
  width: 20px;
  height: 18px;
  top: 0;
  left: -31px;
}

.rating-box__item3 {
  font-size: 16px;
  line-height: 19px;
  color: #383838;
}

.rating-box__item3.icon {
  position: relative;
}

.rating-box__item3.icon::after {
  content: "";
  position: absolute;
  background-image: url("../img/icons/rating/clarity_bank-solid.png");
  width: 20px;
  height: 18px;
  top: 0;
  left: -31px;
}

.sum-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ratting__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.ratting__btn {
  padding: 10px 40px;
}

.ratting__btn-1 {
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  ._container {
    max-width: 1140px;
  }

  ._container {
    max-width: 1140px;
  }

  .selection-btn {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    padding: 32px 80px;
  }
}

@media (max-width: 992px) {
  ._container {
    max-width: 960px;
  }

  ._container {
    max-width: 960px;
  }

  .selection-btn {
    margin: 0;
    width: 100%;
  }

  .ratting__btn-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .selection__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .selection__form input {
    max-width: 100%;
  }

  .rating__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .rating__inner {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .header__container {
    min-height: 110px;
  }

  .header__logo img {
    width: 200px;
    height: auto;
  }

  .menu__item {
    display: none;
  }

  ._container {
    max-width: 720px;
  }

  ._container {
    max-width: 720px;
  }

  .selection__wrapper {
    display: block;
  }

  .selection__container {
    margin-top: 35px;
  }

  .selection__form input {
    margin-bottom: 30px;
    height: 60px;
    font-size: 18px;
    line-height: 21px;
  }

  #datepicker-error {
    margin-top: 34px;
  }

  #city-error {
    margin-top: 34px;
  }

  #income-error {
    margin-top: 34px;
  }

  .selection-btn {
    padding: 16px 80px;
  }

  .selection-btn {
    padding: 25px 10px;
    width: 100%;
  }

  .rating__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .title {
    font-size: 28px;
    line-height: 30px;
  }
}

@media (max-width: 576px) {
  .header__container {
    min-height: 90px;
  }

  .header__logo img {
    width: 150px;
    height: auto;
  }

  ._container {
    max-width: 540px;
  }

  ._container {
    max-width: 540px;
  }
}

@media (max-width: 468px) {
  ._container {
    max-width: 100%;
    padding: 0  10px;
  }

  .selection__form input {
    min-width: 50px;
  }
}

.webp .menu__link i{ background: url(../img/icons/icon-menu.webp) right no-repeat; }

.webp .rating-box__item1_rate::before{ background-image: url(../img/icons/rating/percent.webp); }

.webp .rating-box__item1_rate::after{ background-image: url(../img/icons/rating/cil_cash.webp); }

.webp .rating-box__item1_sum::before{ background-image: url(../img/icons/rating/sum.webp); }

.webp .rating-box__item2.icon::after{ background-image: url(../img/icons/rating/bi_credit-card-2-back.webp); }

.webp .rating-box__item3.icon::after{ background-image: url(../img/icons/rating/clarity_bank-solid.webp); }